.quote__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: white;
  transition: 0.5s;
  width: 80vw;
  min-height: 70vh;
  max-height: 100vh;
  padding: 20px 50px;
  border-radius: 10px;
}
.quote__card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 0 white;
}
.quote__card h5 {
  color: #888484;
}
.change__button {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.change__button button,
.random__icon {
  background-color: black;
  border: 1px solid aqua;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin-top: 40px;
}
.change__button button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px 0 aqua;
}
